In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/josep/OneDrive/Desktop/Excel Studies/datasets to clean/global_freelancers_raw.csv')
df

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,no,68%
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,N,82
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,False,94%
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,1,72

In [3]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   freelancer_ID        1000 non-null   object
 1   name                 1000 non-null   object
 2   gender               1000 non-null   object
 3   age                  970 non-null    float64
 4   country              1000 non-null   object
 5   language             1000 non-null   object
 6   primary_skill        1000 non-null   object
 7   years_of_experience  949 non-null    float64
 8   hourly_rate (USD)    906 non-null    object
 9   rating               899 non-null    float64
 10  is_active            911 non-null    object
 11  client_satisfaction  824 non-null    object
dtypes: float64(3), object(9)
memory usage: 93.9+ KB

(1000, 12)

In [4]:
df.isna().sum()

freelancer_ID            0
name                     0
gender                   0
age                     30
country                  0
language                 0
primary_skill            0
years_of_experience     51
hourly_rate (USD)       94
rating                 101
is_active               89
client_satisfaction    176
dtype: int64

In [5]:
print(df['gender'].unique())

df['gender'] = df['gender'].apply(lambda x: 'Female' if x.lower() in ('f','female') else 'Male')
df

['f' 'FEMALE' 'male' 'F' 'female' 'm' 'MALE' 'Female' 'M' 'Male']

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,Female,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,Male,53.0,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,Female,38.0,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,Female,53.0,Germany,German,Web Development,27.0,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,no,68%
996,FL250997,Cheryl Norris,Female,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,N,82
997,FL250998,Kathy Watkins,Female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,False,94%
998,FL250999,John Obrien,Male,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,1,72

In [6]:
print(df['age'].unique())

df['age'] = df['age'].fillna('Not Specified')
df.loc[df['age'] != 'Not Specified', 'age'] = df.loc[df['age'] != 'Not Specified', 'age'].astype(int)
df

[52. 53. 38. 59. 43. 26. 40. 55. 57. 50. 42. 39. 56. nan 51. 54. 22. 34.
 36. 47. 41. 46. 29. 60. 21. 35. 25. 23. 31. 58. 45. 33. 32. 37. 49. 27.
 48. 30. 20. 24. 44. 28.]

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,Female,52,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,Male,53,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,Female,38,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,Female,53,Germany,German,Web Development,27.0,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56,Turkey,Turkish,DevOps,13.0,100,0.0,no,68%
996,FL250997,Cheryl Norris,Female,26,Germany,German,Blockchain Development,6.0,USD 40,2.8,N,82
997,FL250998,Kathy Watkins,Female,37,Japan,Japanese,Data Analysis,15.0,75,NaN,False,94%
998,FL250999,John Obrien,Male,46,Russia,Russian,Machine Learning,22.0,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,1,72

In [7]:
print(df['years_of_experience'].unique())

df['years_of_experience'] = df['years_of_experience'].fillna('Not Specified')
df.loc[df['years_of_experience'] != 'Not Specified', 'years_of_experience'] = (
    df.loc[df['years_of_experience'] != 'Not Specified', 'years_of_experience'].astype(int)
)
df

[11. 34. 31.  4. 27. 14. 10. 22. 17. 15. 18. 20.  0. 13. nan  3.  9. 21.
  8. 19. 32. 28.  6. 23.  7.  1. 33. 16. 35. 12. 38.  5. 30.  2. 25. 39.
 29. 40. 26. 24. 37. 41.]

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52,Italy,Italian,Blockchain Development,11,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,Female,52,Australia,English,Mobile Apps,34,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,Male,53,Germany,German,Graphic Design,31,50,0.0,N,71%
3,FL250004,Amanda Spencer,Female,38,Australia,English,Web Development,4,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,Female,53,Germany,German,Web Development,27,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56,Turkey,Turkish,DevOps,13,100,0.0,no,68%
996,FL250997,Cheryl Norris,Female,26,Germany,German,Blockchain Development,6,USD 40,2.8,N,82
997,FL250998,Kathy Watkins,Female,37,Japan,Japanese,Data Analysis,15,75,NaN,False,94%
998,FL250999,John Obrien,Male,46,Russia,Russian,Machine Learning,22,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36,Mexico,Spanish,UI/UX Design,18,$20,1.7,1,72

In [8]:
print(df['hourly_rate (USD)'].unique())

df['hourly_rate (USD)'] = df['hourly_rate (USD)'].fillna('Not Specified')
df['hourly_rate (USD)'] = (
    df['hourly_rate (USD)']
    .str.replace('USD ','')
    .str.replace('$','')
)
df

['100' 'USD 100' '50' '$40' '30' '$30' 'USD 75' 'USD 40' nan '$50' '40'
 '75' 'USD 50' 'USD 30' '$20' '20' '$75' '$100' 'USD 20']

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52,Italy,Italian,Blockchain Development,11,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,Female,52,Australia,English,Mobile Apps,34,100,3.3,1,84%
2,FL250003,Juan Nelson,Male,53,Germany,German,Graphic Design,31,50,0.0,N,71%
3,FL250004,Amanda Spencer,Female,38,Australia,English,Web Development,4,40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,Female,53,Germany,German,Web Development,27,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56,Turkey,Turkish,DevOps,13,100,0.0,no,68%
996,FL250997,Cheryl Norris,Female,26,Germany,German,Blockchain Development,6,40,2.8,N,82
997,FL250998,Kathy Watkins,Female,37,Japan,Japanese,Data Analysis,15,75,NaN,False,94%
998,FL250999,John Obrien,Male,46,Russia,Russian,Machine Learning,22,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36,Mexico,Spanish,UI/UX Design,18,20,1.7,1,72

In [9]:
print(df['rating'].unique())

df['rating'] = df['rating'].fillna('Not Specified')
df['rating'] = df['rating'].apply(lambda x: 'Not Specified' if x==0 else x)
df

[nan 3.3 0.  1.5 4.8 2.4 3.1 4.6 4.  3.6 2.  2.9 3.7 1.2 2.5 1.1 1.8 4.7
 1.3 1.  4.2 1.4 2.2 3.2 2.7 2.8 4.9 4.5 1.9 3.4 2.3 3.9 3.5 4.4 2.6 1.6
 3.8 1.7 5.  3.  4.1 4.3 2.1]

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52,Italy,Italian,Blockchain Development,11,100,Not Specified,0,NaN
1,FL250002,Vanessa Garcia,Female,52,Australia,English,Mobile Apps,34,100,3.3,1,84%
2,FL250003,Juan Nelson,Male,53,Germany,German,Graphic Design,31,50,Not Specified,N,71%
3,FL250004,Amanda Spencer,Female,38,Australia,English,Web Development,4,40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,Female,53,Germany,German,Web Development,27,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56,Turkey,Turkish,DevOps,13,100,Not Specified,no,68%
996,FL250997,Cheryl Norris,Female,26,Germany,German,Blockchain Development,6,40,2.8,N,82
997,FL250998,Kathy Watkins,Female,37,Japan,Japanese,Data Analysis,15,75,Not Specified,False,94%
998,FL250999,John Obrien,Male,46,Russia,Russian,Machine Learning,22,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36,Mexico,Spanish,UI/UX Design,18,20,1.7,1,72

In [10]:
print(df['is_active'].unique())

df['is_active'] = df['is_active'].fillna('Not Specified')
df.loc[df['is_active'] != 'Not Specified', 'is_active'] = (
    df.loc[df['is_active'] != 'Not Specified', 'is_active'].apply(lambda x: True if x in ('1','yes','Y') else False)
)
df

['0' '1' 'N' 'False' 'True' 'yes' 'Y' nan 'no']

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52,Italy,Italian,Blockchain Development,11,100,Not Specified,False,NaN
1,FL250002,Vanessa Garcia,Female,52,Australia,English,Mobile Apps,34,100,3.3,True,84%
2,FL250003,Juan Nelson,Male,53,Germany,German,Graphic Design,31,50,Not Specified,False,71%
3,FL250004,Amanda Spencer,Female,38,Australia,English,Web Development,4,40,1.5,False,90%
4,FL250005,Lynn Curtis DDS,Female,53,Germany,German,Web Development,27,30,4.8,False,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56,Turkey,Turkish,DevOps,13,100,Not Specified,False,68%
996,FL250997,Cheryl Norris,Female,26,Germany,German,Blockchain Development,6,40,2.8,False,82
997,FL250998,Kathy Watkins,Female,37,Japan,Japanese,Data Analysis,15,75,Not Specified,False,94%
998,FL250999,John Obrien,Male,46,Russia,Russian,Machine Learning,22,100,2.8,True,97
999,FL251000,Dawn Green,Female,36,Mexico,Spanish,UI/UX Design,18,20,1.7,True,72

In [11]:
print(df['client_satisfaction'].unique())

df['client_satisfaction'] = df['client_satisfaction'].fillna('Not Specified')
df['client_satisfaction'] = df['client_satisfaction'].str.replace('%','')
df

[nan '84%' '71%' '90%' '83%' '94%' '76%' '77%' '86%' '93%' '70%' '69%'
 '60%' '87%' '75%' '68%' '65%' '100%' '92' '89%' '62%' '82' '81%' '63%'
 '67%' '80%' '74%' '85%' '79%' '72%' '64' '88' '96%' '96' '81' '61%' '97%'
 '64%' '73%' '88%' '72' '92%' '82%' '93' '83' '78' '95%' '80' '87' '66%'
 '78%' '68' '91%' '97' '60' '70' '99%' '76' '86' '95' '74' '100' '73' '67'
 '77' '98%' '71' '85' '91' '94' '84' '90' '62' '65' '75' '63' '61' '66'
 '99' '79' '69' '89']

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52,Italy,Italian,Blockchain Development,11,100,Not Specified,False,Not Specified
1,FL250002,Vanessa Garcia,Female,52,Australia,English,Mobile Apps,34,100,3.3,True,84
2,FL250003,Juan Nelson,Male,53,Germany,German,Graphic Design,31,50,Not Specified,False,71
3,FL250004,Amanda Spencer,Female,38,Australia,English,Web Development,4,40,1.5,False,90
4,FL250005,Lynn Curtis DDS,Female,53,Germany,German,Web Development,27,30,4.8,False,83
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56,Turkey,Turkish,DevOps,13,100,Not Specified,False,68
996,FL250997,Cheryl Norris,Female,26,Germany,German,Blockchain Development,6,40,2.8,False,82
997,FL250998,Kathy Watkins,Female,37,Japan,Japanese,Data Analysis,15,75,Not Specified,False,94
998,FL250999,John Obrien,Male,46,Russia,Russian,Machine Learning,22,100,2.8,True,97
999,FL251000,Dawn Green,Female,36,Mexico,Spanish,UI/UX Design,18,20,1.7,True,72

In [12]:
#final dataset
df.head(20)

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52,Italy,Italian,Blockchain Development,11,100,Not Specified,False,Not Specified
1,FL250002,Vanessa Garcia,Female,52,Australia,English,Mobile Apps,34,100,3.3,True,84
2,FL250003,Juan Nelson,Male,53,Germany,German,Graphic Design,31,50,Not Specified,False,71
3,FL250004,Amanda Spencer,Female,38,Australia,English,Web Development,4,40,1.5,False,90
4,FL250005,Lynn Curtis DDS,Female,53,Germany,German,Web Development,27,30,4.8,False,83
5,FL250006,Lisa Johnson,Female,59,Netherlands,Dutch,AI,14,30,2.4,False,Not Specified
6,FL250007,Eric Myers,Male,52,Indonesia,Indonesian,Data Analysis,10,75,3.1,False,94
7,FL250008,Ricky Graham,Male,43,Italy,Italian,Blockchain Development,14,40,4.6,False,94
8,FL250009,Sean Martin,Male,26,United States,English,Blockchain Development,4,Not Specified,4.0,False,76
9,FL250010,Matthew Lloyd,Male,52,Turkey,Turkish,AI,22,50,Not Specified,True,Not Specified
10,FL250011,Gavin Randall,Male,40,United Kingdom,English,Data Analysis,17,40,3.6,True,77
11,FL250012,Michelle Curtis,Female,55,Argentina,Spanish,UI/UX Design,15,Not Specified,Not Specified,True,86
12,FL250013,Alice Schneider,Female,57,United Kingdom,English,Cybersecurity,18,Not Specified,2.0,False,86
13,FL250014,Phillip Shelton,Male,38,Argentina,Spanish,Graphic Design,20,75,2.9,True,93
14,FL250015,Edward Ferguson,Male,50,Germany,German,Data Analysis,22,75,3.7,True,70
15,FL250016,Wyatt Stout,Male,42,Japan,Japanese,Data Analysis,0,30,1.2,False,69
16,FL250017,Laura Johnson,Female,39,Australia,English,DevOps,13,30,2.5,False,60
17,FL250018,Scott Burns,Male,56,India,Hindi,Blockchain Development,Not Specified,Not Specified,Not Specified,Not Specified,87
18,FL250019,Tyler Aguirre,Male,56,United States,English,UI/UX Design,31,50,1.1,False,75
19,FL250020,Matthew Lawson,Male,57,Italy,Italian,Web Development,3,100,1.8,True,68